.logo {
  width: 40px;
  margin-top: -3px;
}
.text-muted {
  margin-bottom: 25px;
}
.employmentTitle {
  margin-bottom: 0px;
}
.navbar {
  background-color: rgb(255, 255, 255) !important;
  padding: 0 !important;
}
.navbar-brand {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-right: 5px !important;
}
.form-control {
  border-radius: 3px !important;
  background-color: #e1e9ee !important;
  font-size: 13px !important;
  margin-top: -25px;
}
.form-control:focus {
  border-color: rgba(0, 0, 0, 0.384) !important;
  box-shadow: none !important;
}
.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  cursor: pointer;
  font-size: 13px;
  position: relative;
  align-items: center;
  margin-right: 5px;
}
.nav-link-work {
  margin-left: 5px;
}
.MuiAvatar-root {
  width: 25px !important;
  height: 25px !important;
  font-size: 1rem !important;
  margin-left: 2px !important;
}
.navbar-itemMe {
  border-right: solid 1px rgb(196, 196, 196);
  padding: 5px;
}
.mynavbar {
  z-index: 6;
}
.dropdown-item {
  font-size: 15px;
  color: #666666;
  padding: 0.1 0.5rem !important;
}
.avatar-dd .dropdown-menu{
  overflow-y: hidden !important;
    height: auto !important;
    width: 200px !important;
}
.avatar-dd .dropdown-menu.show{
display: table !important;
}
.button-profile {
  color: #007bff;
  font-weight: 500;
  margin-left: 2px;
  margin-right: 2px;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  border: 1px solid #007bff;
  width: 220px;
  padding: 1px;
  font-size: 14px;
}
.button-profile:hover {
  border: #007bff solid 2px;
  transition: ease-in-out 0.5s;
  background-color: #e1e9ee;
}
.dropdown-item:focus,
.dropdown-item:hover {
  text-decoration: underline;
  background-color: none !important;
}
.name-title {
  margin-bottom: 0.1rem !important;
}
.basic-nav-dropdown {
  border-radius: 1px;
  width: 28ch;
}
.dropdown-item {
  color: rgb(82, 81, 81) !important;
}
.dropdown-item p {
  color: rgb(25, 25, 25);
  margin-bottom: 0rem !important;
  margin-top: 6px !important;
  margin-left: 5px !important;
}
.icons {
  color: #666666 !important;
}

.avatar-dd {
  margin-bottom: -13px;
  margin-top: -10px;
}
.nav-link .nav-dropdown {
  margin-top: 6px !important;
}
.navbar-item svg:hover {
  color: rgb(25, 25, 25) !important;
}
.navbar-item svg:active {
  color: rgb(25, 25, 25);
}

.navbar-item:active {
  border-bottom: 2px solid rgb(25, 25, 25);
  color: rgb(25, 25, 25);
}
.search {
  position: relative;
  background-color: #e1e9ee !important;
  padding: 4px;
  margin-top: -6px;
}
.search:focus {
  border: 1px black solid;
}
.navbar-avatar {
  width: 30px !important;
  height: 30px !important;
}

.searchIcon {
  padding: 0, 2;
  height: 100%;
  position: inherit;
  pointer-events: none;
  display: contents;
  align-items: center;
  justify-content: center;
}
.inputInput {
  padding: 5, 5, 5, 5px;
  padding-left: 2em;
  transition: linear;
  width: 100%;
}
.inputInput:focus {
  width: 30ch;
}
.MuiInputBase-input {
  padding: 0 !important;
}
