#cardd{
    height: 7.5rem;
    
}

#startPost{
    background: transparent !important;
    color: #666666;
    width:100%;
    height:3rem;
    border-color: #666666;
    border-radius: 15px;
    text-align: start;
    font-size: small;
    margin-top: -0.5vw;
}

#startPost:hover{
    background: #e7e7e7 !important;
}

.add-btn{
    height: 2.5rem;
    background: transparent;
    border-color: transparent;
}

.add-btn:hover{
    background: #e7e7e7 !important;
}

#photo-btn{
    color: #70B5F9 !important;
}

#video-btn{
    color: #F0BF7E !important;
}

#event-btn{
    color: #A1B4B8 !important;

}

#article-btn{
    color: #7EC15E !important;
}

#startPost .MuiSvgIcon-root{
    cursor: pointer;
    margin-right: 10px;
}
