.footerPar{
    margin-top: -0.1vw !important;
    font-size: 11px !important;
    font-weight: 600 !important;
}

.helpText{
    font-size: 12px;
}

.dropdownText{
    font-size: 11px !important;
    margin-top: -10px;
}

