.logo {
  width: 40px;
  margin-top: -3px;
}
.navbar {
  background-color: rgb(255, 255, 255) !important;
  padding: 0 !important;
}
.navbar-brand {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-right: 5px !important;
}
.form-control {
  border-radius: 3px !important;
  background-color: #e1e9ee !important;
  font-size: 13px !important;
  margin-top: -25px;
}
.form-control:focus {
  border-color: rgba(0, 0, 0, 0.384) !important;
  box-shadow: none !important;
}
.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  cursor: pointer;
  font-size: 13px;
  position: relative;
  align-items: center;
}
.MuiAvatar-root {
  width: 25px !important;
  height: 25px !important;
  font-size: 1rem !important;
  margin-top: 6px !important;
  margin-left:5px !important;
}
.avatar-dd{
  margin-bottom: -12px;
  margin-top:-5px;
}
.nav-link .nav-dropdown {
  margin-top: 6px !important;
}
.navbar-item:hover {
  border-bottom: rgb(25, 25, 25);
  color: rgb(25, 25, 25);
}
.navbar-item:active {
  border-bottom: 2px solid rgb(25, 25, 25);
  color: rgb(25, 25, 25);
}
.search {
  position: relative;
  background-color: #e1e9ee !important;
  padding: 4px;
  margin-top:-6px;
}
.search:focus{
    border: 1px black solid;
}

.searchIcon {
  padding: 0, 2;
  height: 100%;
  position: inherit;
  pointer-events: none;
  display: contents;
  align-items: center;
  justify-content: center;
}
.inputInput {
  padding: 5, 5, 5, 5px;
  padding-left: 2em;
  transition: linear;
  width: 100%;
}
.inputInput:focus {
  width: 30ch;
}
.MuiInputBase-input{
    padding:0 !important;
}
